@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0,0,0;
  --background-start-rgb: 214, 47%, 23%;
  --background-end-rgb: 237, 49%, 15%;
  --text-color-score: 229, 64%, 46%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      hsl(var(--background-end-rgb))
    )
    hsl(var(--background-start-rgb));
}
